In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-21 04:41:59--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv.1’

student_data.csv.1  100%[===================>] 129.91K  --.-KB/s    in 0.02s

2024-12-21 04:42:00 (5.91 MB/s) - ‘student_data.csv.1’ saved [133023/133023]

In [20]:

#import student database from drive
df = pd.read_csv("student_data.csv")
df.head()
df.sample(10)

,id,first_name,last_name,email,gender,ip_address,cgpa,passing_year,department,attendance,home_district,abroad_study,student_id,graduation_date,study_abroad_country,study_abroad_city,hsc_gpa,ssc_gpa
532,533,Morgan,Goley,mgoleyes@photobucket.com,Male,169.241.194.156,3.54,2015.0,Medicine,75.84,Miami,True,533,2009,China,Yuecheng,1,5
637,638,Peggi,Staniforth,pstaniforthhp@about.com,Female,196.110.196.76,NaN,2012.0,Engineering,14.03,Chicago,True,638,2020,Brazil,Buri,1,3
219,220,Berny,Keppy,bkeppy63@meetup.com,Male,123.242.73.131,3.59,2015.0,Computer Science,21.75,Houston,False,220,2014,Portugal,Pombal,2,2
248,249,Durante,Vinden,dvinden6w@facebook.com,Male,206.132.80.137,0.06,2016.0,Arts,24.73,Miami,True,249,2011,Albania,Hot,5,2
319,320,Allison,Milstead,amilstead8v@phoca.cz,Female,100.249.42.150,0.34,2023.0,Arts,19.46,Miami,True,320,2005,China,Narong,5,2
916,917,Stanly,Prinnett,sprinnettpg@time.com,Male,72.12.196.143,1.83,2019.0,Medicine,84.34,Chicago,True,917,2015,Sweden,Stockholm,1,3
959,960,Kimberlee,Meddings,kmeddingsqn@zdnet.com,Bigender,138.147.194.109,1.54,2019.0,Medicine,77.10,Los Angeles,False,960,2014,Indonesia,Pasirangin Tiga,3,4
52,53,Lyon,Leere,lleere1g@usnews.com,Male,66.103.121.246,1.77,2000.0,Engineering,66.35,Houston,True,53,2016,Poland,Wierzchowo,5,3
790,791,Joe,Jados,jjadosly@illinois.edu,Male,165.180.84.123,3.02,2002.0,Engineering,84.35,New York,True,791,2007,Jamaica,Petersfield,1,4
574,575,Thedric,Voller,tvollerfy@youtube.com,Male,227.93.89.48,NaN,2002.0,Business,NaN,Houston,False,575,2014,Indonesia,Rancakole,2,4

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("student_data.csv")

num_bangladesh_students = df[df['country'] == 'Bangladesh'].shape[0]
print(f"Number of students from Bangladesh: {num_bangladesh_students}")

KeyError: 'country'

In [28]:
#Calculate the average attendance for students in the "Information Technology" department

avg_attendance_it = df[df['department'] == 'Information Technology']['attendance'].mean()
print(f"Average attendance for IT department: {avg_attendance_it}")

Average attendance for IT department: nan

In [ ]:
#display students above cgpa 3.5 and study abroad

filtered = df[(df["cgpa"] > 3.5) & (df["abroad_study"] == "Yes")]
print("filtered:", filtered)

In [ ]:
#Fill missing values in the "abroad_study" column with "No"

df['abroad_study'].fillna('No', inplace=True